@charset "utf-8";
/* CSS Document */

.menu_button {
	font-weight: bold;
	background-color: #252525;
	border-radius: 4px;
	border: 1px solid #3E3E3E;
	float: right;
	padding: 6px 10px 0px 10px;
	margin: 0px 5px 5px 5px;
	
}

.menu_button:hover {
	cursor: pointer;
	background-color: #2E2E2E;
	border: 1px solid #464646;
	
}

.delete_icon {
	text-align: center;
	font-weight: bold; 
	height: 20px;
	width: 20px; 
	border-radius: 10px; 
	border: 1px solid #906061; 
	background-color: #83393B;
	float: right; 
	margin-right: 10px; 
	position: relative; 
	transition: .5s;
}